//==============================================================================
// top.cst -- Physical Constraints for Tang Primer 20K (GW2A-LV18PG256C8/I7)
//
//  Pad names use the IOxNNy format required by Gowin IDE.
//  Cross-check with Sipeed schematic for your exact carrier board revision.
//  Open the Gowin Floorplanner to confirm locations if synthesis still errors.
//==============================================================================

// 27 MHz on-board crystal oscillator
// Source: https://github.com/sipeed/TangPrimer-20K-example?tab=readme-ov-file#tang-primer-20k-dock-pin-constrain

IO_LOC  "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33;

// Onboard BL702 used to download bitstream file and provide serial communication
// source: https://wiki.sipeed.com/hardware/en/tang/tang-primer-20k/primer-20k.html
// uart_rx = data coming IN to the FPGA from USB host
// Example: https://github.com/sipeed/TangPrimer-20K-example/tree/main/UART
IO_LOC  "uart_rx" T13;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;

// uart_tx = data going OUT from the FPGA to USB host
IO_LOC  "uart_tx" M11;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;

// one WS2812 RGB LED on the Tang Primer 20K Dock
// example: https://github.com/sipeed/TangPrimer-20K-example/tree/main/WS2812

// IO_LOC "rgb_led"  T9;
// IO_PORT "rgb_led" IO_TYPE=LVCMOS33;

// six LEDs on the Tang Primer 20K Dock

// reserved for DONE (System boot finished)
// IO_LOC "led0"  C13;
// IO_PORT "led0" IO_TYPE=LVCMOS33;

// reserved for READY (System ready to boot)
// IO_LOC "led1"  A13;
// IO_PORT "led1" IO_TYPE=LVCMOS33;

// IO_LOC "led2"  N16;
// IO_PORT "led2" IO_TYPE=LVCMOS33;

// IO_LOC "led3"  N14;
// IO_PORT "led3" IO_TYPE=LVCMOS33;

// IO_LOC "led4"  L14;
// IO_PORT "led4" IO_TYPE=LVCMOS33;

IO_LOC "led5"  L16;
IO_PORT "led5" IO_TYPE=LVCMOS33;

// five push buttons on the Tang Primer 20K Dock

// IO_LOC "btn_s0"  T10;
// IO_PORT "btn_s0" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "rst_n"  T3; // button S1
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// IO_LOC "btn_s2"  T2;
// IO_PORT "btn_s2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// IO_LOC "btn_s3"  D7;
// IO_PORT "btn_s3" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// IO_LOC "btn_s4"  C7;
// IO_PORT "btn_s4" IO_TYPE=LVCMOS33 PULL_MODE=UP;
